annotated-types
anyio
click
dnspython
email-validator
fastapi
h11
idna
pillow
pydantic
pydantic-settings
pydantic_core
mariadb
python-dotenv
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uv
uvicorn
